.category-item {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-radius: 10px;
    background-color: #630000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.category-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}

.category-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.category-name {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #EEEBDD;
}

.category-desc {
    font-size: 0.85rem;
    color: #EEEBDD;
    line-height: 1.5;
    flex-basis: 100%;
}


@media (max-width: 480px) {
    .category-item {
        align-items: center;
    }

    .category-desc {
        width: 100%;
    }
}